.Menu-Button {
    padding-left: 10px;
    height: 30px;
    display: inline-block;
    margin: 5px 0;
    cursor: pointer;
}

.Btn-Back{
    background-color: #032541;
    padding: 5px;
    color: #FFF;
    border-radius: 3px;
    width: 6em;
    cursor: pointer;
}

.Btn-Back:hover{
    opacity: 0.8;
}